/*---------通用-------------*/
.xxw_over {
    overflow: hidden;
}

.xxw_hide {
    display: none;
}

.xxw_show {
    display: block;
}

.xxw_ie6fixedTL {
    position: fixed;
    left: 0;
    top: 0
}

.xxw_ie6fixedTR {
    position: fixed;
    right: 0;
    top: 0
}

* html, * html body {
    background-image: url(about:blank);
    background-attachment: fixed;
}

* html .xxw_ie6fixedTL {
    position: absolute;
    left: expression(eval(document.documentElement.scrollLeft));
    top: expression(eval(document.documentElement.scrollTop))
}

* html .xxw_ie6fixedTR {
    position: absolute;
    right: expression(eval(document.documentElement.scrollLeft));
    top: expression(eval(document.documentElement.scrollTop))
}

/*---------Alert-----------*/
.xxw_Alert {
    font-size: 14px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    box-shadow: 0 3px 6px 2px #ACACAC;
    left: 50%;
}

.xxw_Alert .alert_title {
    line-height: 23px;
    background-color: #3498DB;
    border: 1px solid #3498DB;
    border-bottom: 1px solid #dadada;
    font-weight: bolder;
    color: #fff;
}

.xxw_Alert .alert_title:before {
    content: '';
    margin-left: 10px;
}

.xxw_Alert .alert_title .alert_close {
    float: right;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;

}

.xxw_Alert .alert_body {
    border: 1px solid #dadada;
    border-bottom: 0;
    line-height: 23px;
    padding-top: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.xxw_Alert .alert_body:before {
    content: '';
    margin-left: 15px;
}

.xxw_Alert .alert_confirm {
    border: 1px solid #dadada;
    border-top: 0;
    text-align: center;
    line-height: 50px;
}

.xxw_Alert .alert_confirm a {
    cursor: pointer;
    display: inline-block;
    width: 80px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    border-radius:5px ;
}

.xxw_Alert .alert_confirm a.yes {
    background-color: #2ecc71;
}

.xxw_Alert .alert_confirm a.yes:hover {
    background-color: #55d98d;
}

.xxw_Alert .alert_confirm a.no {
    background-color: #e74c3c;
}

.xxw_Alert .alert_confirm a.no:hover {
    background-color: #ec7063;
}

/*--------Duilian----------*/
.xxw_duilian {

    font-size: 12px;
}

.xxw_duilian img {
    border: 1px solid #dadada;
}

.xxw_duilian a {
    display: block;
    cursor: pointer;
    text-align: center;
}

